# Project exclude paths
/common/car-travel-common/target/
/common/car-travel-kafka/target/
/common/car-travel-spark/target/
/common/car-travel-util/target/
/portal/car-travel-ordermonitor-web/target/
/portal/kafka-counsumer/target/
/target/